/* Стилі для заголовка */
h1 {
    text-align: center; /* Центрувати заголовок */
    color: blue;
}

/* Стилі для абзаців */
p {
    text-align: center; /* Центрувати текст абзаців */
    color: red;
}