img {
    max-width: 100%; /* Зробити зображення адаптивними по ширині */
    height: auto; /* Автоматична висота, щоб уникнути розтягнутості */
    display: block; /* Змінити властивість на блочний елемент, щоб уникнути пробілів */
    margin: 0 auto; /* Автоматичне центрування зображень */
}